; Local PlatformIO Configuration Override Example
;
; Copy this file to platformio_local.ini and customize for your setup
; platformio_local.ini is git-ignored and won't be committed
;
; Usage:
;   1. cp platformio_local.ini.example platformio_local.ini
;   2. Edit platformio_local.ini with your local IP addresses
;   3. PlatformIO will automatically use settings from platformio_local.ini

[env:hb-rf-eth-ng-standard-ota]
upload_port = 192.168.178.56  ; Your device IP

[env:hb-rf-eth-ng-hmlgw-ota]
upload_port = 192.168.178.56  ; Your device IP

[env:hb-rf-eth-ng-analyzer-ota]
upload_port = 192.168.178.56  ; Your device IP

[env:hb-rf-eth-ng-full-ota]
upload_port = 192.168.178.56  ; Your device IP
